<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/_layout.admin}">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">班级管理 </title>
    <link rel="stylesheet" type="text/css" th:href="${urls.getForLookupPath('/css/index.css')}">
    <script type="text/javascript" th:src="${urls.getForLookupPath('/js/index.js')}"></script>
</head>
<body>
<div layout:fragment="content">
    <p>And this is content from content page.</p>
</div>
<footer layout:fragment="footer">
    <p>This footer will be ignored, as no placeholder for 'footer' layout fragment was prepared in layout template. </p>
</footer>
</body>
</html>