<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">

    <!--# Console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 典型的日志pattern -->
        <encoder>
            <pattern>[%-5level %d{HH:mm:ss.SSS} | %thread | %logger.%method] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--# 按时间滚动的策略 -->
    <appender name="defaultLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤掉 TRACE 和 DEBUG 级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <file>../logs/classes.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/classes.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 保留 30天数据，默认无限-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%-5level %d{HH:mm:ss.SSS} | %thread | %logger.%method] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--log4jdbc -->
    <logger name="jdbc.sqlonly" level="WARN"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.audit" level="WARN"/>
    <logger name="jdbc.resultset" level="WARN"/>
    <logger name="jdbc.connection" level="INFO"/>

    <!-- project default level -->
    <logger name="com.gxb.sites" level="DEBUG" />

    <!-- gxb modules -->
    <logger name="com.gxb.modules" level="DEBUG" />





    <!-- root -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="defaultLogFile" />
    </root>
	
</configuration>